@import "tailwindcss";

:root {
  font-family: "Space Grotesk", "DM Sans", "Segoe UI", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #020617;
}
